@import "../variable";

.codish-ui-popup {
    display: flex;
    flex-direction: column;
    width: 500px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    &-header {
        padding: 0 10px;
        display: flex;
        height: 20px;
        background: $primary;
        align-items: center;
        position: relative;
        color: #fff;
    }
    &-title {
        flex: 1;
    }
    &-close {
        display: flex;
        align-items: center;
        &:after {
            content: 'ㄨ';
        }
    }
    &-footer {
        display: flex;
        padding: 10px;
        justify-content: flex-end;
        .codish-ui-button {
            margin: 0 0 0 10px;
        }
    }
}
