@import "../variable";

.codish-ui-menu {
    position: absolute;
    z-index: 1000;
    &-item {
        background: #fff;
        min-width: 100px;
        padding: 0 10px;
        box-sizing: border-box;
        position: relative;
        cursor: default;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:first-child {
            border-radius: 4px 4px 0 0;
        }
        &:last-child {
            border-radius: 0 0 4px 4px;
        }
        &:only-child {
            border-radius: 4px;
        }
        &:hover {
            background: #eee;
            >.codish-ui-menu-children {
                display: block;
            }
        }
        &.has-children {
            &:after {
                position: absolute;
                content: '';
                width: 6px;
                height: 6px;
                right: 10px;
                top: 50%;
                border-top: 1px solid $border;
                border-right: 1px solid $border;
                transform: translateY(-50%) rotate(45deg);
            }
        }
    }
    &-sep {
        border-bottom: 1px solid $border;
    }
    &-children {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(100%);
        display: none;
    }
}
