@import "../variable";

.codish-ui-input {
    display: inline-flex;
    width: 100%;
    align-items: center;
    &, * {
        box-sizing: border-box;
    }
    input {
        width: 100%;
        border: 1px solid $border;
        line-height: 1.2;
        padding: 5px 10px;
        outline: none;
        border-radius: 2px;
        flex: 1;
        &:focus {
            border-color: $primary;
        }
    }
    &.is-inline {
        width: auto;
    }
    .codish-ui-input-title {
        margin-right: 8px;
        white-space: nowrap;
    }
}
