@import "../variable";

.codish-ui-input {
    display: inline-block;
    width: 100%;
    &, * {
        box-sizing: border-box;
    }
    input {
        width: 100%;
        border: 1px solid $border;
        line-height: 1.2;
        padding: 5px 10px;
        outline: none;
        border-radius: 2px;
        &:focus {
            border-color: $primary;
        }
    }
    &.is-inline {
        width: auto;
    }
}
